@media only screen and (min-width: 250px) {
  body {
    background-image: url("../static/images/Back(1).jpg");
    background-size: 500%;
    background-attachment: fixed;
    font-family: "Montserrat";
    margin: 0 0 0 0;
  }

  #Pro-Head {
    color: #cfebff;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 150%;
  }

  #Site-Heading {
    font-family: "Oswald";
    font-size: 350%;
  }

  #Quip {
    font-size: 120%;
    position: relative;
  }

  #frm {
    color: #a1d8ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
  }

  .Choice {
    color: #cfebff;
    font-size: 240%;
    font-weight: bolder;
    text-align: center;
  }

  #Stck-frms {
    display: flex;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(5px);
    padding: 2% 2% 2% 2%;
    font-size: 185%;
    line-height: 150%;
    justify-content: space-between;
    transition-duration: 0.2s;
  }
  #Stck-frms:hover {
    background:rgba(255, 255, 255, 0.2);
  }

  #Chs-Stcks {
    flex: 0.3 1 auto;
  }

  #grph_frm {
    font-size: 150%;
    line-height: 130%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(5px);
    padding: 2% 2% 2% 2%;
    justify-content: space-between;
    transition-duration: 0.2s;
  }
  #grph_frm:hover {
    background:rgba(255, 255, 255, 0.2);
  }

  #tme_frm {
    font-size: 150%;
    line-height: 130%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(5px);
    padding: 2% 2% 2% 2%;
    justify-content: space-between;
    transition-duration: 0.2s;
  }
  #tme_frm:hover {
    background:rgba(255, 255, 255, 0.2);
  }

  #Comp-frms-str {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150%;
  }

  #shw_dta {
    display: flex;
    margin-top: 0.5em;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    font-size: 280%;
    font-weight: bolder;
    border: none;
    color: #cfebff;
    transition-duration: 0.2s;
  }

  #shw_dta:hover {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
    background:rgba(255, 255, 255, 0.2);
  }
  
  #shw_dta:active {
    transform: translateY(4px);
    background:rgba(255, 255, 255, 0.23);
    color: #cfebff;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.8);
  }

  #Shw-Data {
    margin-top: 3%;
    display: none;
    color: #cfebff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150%;
    font-family: "Fredoka";
  }

  #results {
    font-size: 200%;
    font-weight: bold;
  }

  #chrt {
    flex: 0.7 0 0;
  }

  #Wtch {
    color: #cfebff;
    text-align: center;
    font-family: "Fredoka";
    font-size: 300%;
  }

  #ppl-wtch {
    display: none;
    width: 150%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #sugg {
    /* margin-top: 5%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .stsug {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px 50px;
    text-align: center;
    background-color: #cfebff;
    width: 20%;
    height: 8em;
    transition: transform 0.5s;
    box-shadow: 0 12px 16px 0 #cfebff48, 0 17px 50px 0 #cfebff48;
  }

  .stsug:hover {
    transform: scale(1.15);
  }

  .sugst {
    font-family: "Fredoka";
    line-height: 0%;
    font-weight: bold;
    font-size: 150%;
    margin: 0% 0% 0% 0%;
  }

  .sugst_dat {
    font-size: 120%;
    margin: 0% 0% 0% 0%;
    /* line-height: 0%; */
  }

  #Details {
    margin-top: 3%;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 150%;
  }

  .Det-Head {
    font-size: 150%;
  }

  .Det-Dat {
    text-decoration: none;
    color: white;
    font-size: 70%;
  }
}

@media only screen and (min-width: 950px) {
  body {
    background-image: url("../static/images/Back(1).jpg");
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Montserrat";
    margin: 0 0 0 0;
  }

  #Pro-Head {
    color: #cfebff;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  #Site-Heading {
    font-family: "Oswald";
    font-size: 350%;
  }

  #Quip {
    font-size: 120%;
    position: relative;
  }

  #frm {
    color: #a1d8ff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
  }

  .Choice {
    color: #cfebff;
    font-size: 240%;
    font-weight: bolder;
    text-align: center;
  }

  #Stck-frms {
    display: flex;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(5px);
    padding: 2% 2% 2% 2%;
    font-size: 185%;
    line-height: 150%;
    justify-content: space-between;
    transition-duration: 0.2s;
  }
  #Stck-frms:hover {
    background:rgba(255, 255, 255, 0.2);
  }

  #Chs-Stcks {
    flex: 0.3 1 auto;
  }

  #grph_frm {
    font-size: 150%;
    line-height: 130%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(5px);
    padding: 2% 2% 2% 2%;
    justify-content: space-between;
    transition-duration: 0.2s;
  }
  #grph_frm:hover {
    background:rgba(255, 255, 255, 0.2);
  }

  #tme_frm {
    font-size: 150%;
    line-height: 130%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(5px);
    padding: 2% 2% 2% 2%;
    justify-content: space-between;
    transition-duration: 0.2s;
  }
  #tme_frm:hover {
    background:rgba(255, 255, 255, 0.2);
  }

  #Comp-frms-str {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #shw_dta {
    display: flex;
    margin-top: 0.5em;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    font-size: 280%;
    font-weight: bolder;
    border: none;
    color: #cfebff;
    transition-duration: 0.2s;
  }

  #shw_dta:hover {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
    background:rgba(255, 255, 255, 0.2);
  }
  
  #shw_dta:active {
    transform: translateY(4px);
    background:rgba(255, 255, 255, 0.23);
    color: #cfebff;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.8);
  }

  #Shw-Data {
    margin: auto;
    margin-top: 3%;
    display: none;
    color: #cfebff;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    font-family: "Fredoka";
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(5px);
    padding: 2% 2% 2% 2%;
    justify-content: space-between;
    transition-duration: 0.2s;
  }
  #Shw-Data:hover {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
    background:rgba(255, 255, 255, 0.2);
  }

  #results {
    font-size: 200%;
    font-weight: bold;
  }

  #chrt {
    flex: 0.7 0 0;
    height: 25em;
  }

  #ppl-wtch {
    display: none;
  }

  #Wtch {
    color: #cfebff;
    text-align: center;
    font-family: "Fredoka";
    font-size: 300%;
  }
  #ppl-wtch {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #sugg {
    /* margin-top: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .stsug {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px 50px;
    text-align: center;
    background-color: #cfebff;
    width: 15%;
    height: 8em;
    transition: transform 0.5s;
    box-shadow: 0 12px 16px 0 #cfebff48, 0 17px 50px 0 #cfebff48;
  }

  .stsug:hover {
    transform: scale(1.15);
  }

  .sugst {
    font-family: "Fredoka";
    line-height: 0%;
    font-weight: bold;
    font-size: 150%;
    margin: 0% 0% 0% 0%;
  }

  .sugst_dat {
    font-size: 120%;
    margin: 0% 0% 0% 0%;
    /* line-height: 0%; */
  }

  #Details {
    margin-top: 3%;
    margin-bottom: 0%;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }

  .Det-Head {
    font-size: 250%;
    line-height: 0%;
  }

  .Det-Dat {
    text-decoration: none;
    color: white;
    font-size: 110%;
  }
}
