body,
html {
  height: 100%;
  margin: 0%;
}

#bg-img {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

#site_heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 0%;
  left: 25%;
  color: #cfebff;
  font-size: 350%;
}

#quip {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 13%;
  left: 65%;
  color: #8bbee0;
  font-size: 100%;
}

#stck {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 20%;
  left: 10%;
  color: #cfebff;
  font-size: 240%;
  background-color: black;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

#grph {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 20%;
  left: 40%;
  color: #cfebff;
  font-size: 240%;
  background-color: black;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

#tme {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 20%;
  left: 70%;
  color: #cfebff;
  font-size: 240%;
  background-color: black;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

#ext {
  position: absolute;
  color: lightgray;
  top: 90%;
  left: 85%;
}

#stck_frm1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 38%;
  left: 10%;
  color: #cfebff;
  font-size: 180%;
  line-height: 130%;
}

#stck_frm2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 38%;
  left: 23%;
  color: #cfebff;
  font-size: 180%;
  line-height: 130%;
}

#grph_frm {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 38%;
  left: 40%;
  color: #cfebff;
  font-size: 180%;
  line-height: 130%;
}

#tme_frm {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 38%;
  left: 70%;
  color: #cfebff;
  font-size: 180%;
  line-height: 130%;
}

#shw_dta {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 75%;
  left: 55%;
  color: #cfebff;
  font-size: 250%;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: black;
  padding: 1% 2%;
  border: none;
  border-radius: 40px;
}

#shw_dta:hover {
  box-shadow: 0 12px 16px 0 #cfebff48, 0 17px 50px 0 #cfebff48;
}

#shw_dta:active {
  background-color: #001422;
  box-shadow: 0 6px 10px 0 #cfebff48, 0 10px 40px 0 #cfebff48;
  transform: translateY(4px);
}

#cnt_bk {
  position: absolute;
  height: 25%;
  width: 100%;
  top: 97%;
}

#contact {
  position: absolute;
  color: white;
  font-size: 250%;
  font-weight: bold;
  top: 97%;
  left: 15%;
}

#mail {
  position: absolute;
  color: lightgray;
  font-size: 110%;
  top: 110%;
  left: 15%;
  text-decoration: none;
}

#lnk_to_pro {
  position: absolute;
  color: white;
  font-size: 250%;
  font-weight: bold;
  top: 97%;
  left: 40%;
}

#pro_lnk {
  position: absolute;
  color: lightgray;
  font-size: 110%;
  top: 110%;
  left: 40%;
  text-decoration: none;
}

#not {
  position: absolute;
  color: white;
  font-size: 250%;
  font-weight: bold;
  top: 97%;
  left: 70%;
}

#not_txt {
  position: absolute;
  color: lightgray;
  font-size: 110%;
  top: 107%;
  left: 70%;
  text-decoration: none;
}

#results {
  display: none;
  position: absolute;
  top: 110%;
  left: 10%;
}

#pred {
  display: none;
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  top: 92%;
  left: 5%;
  color: #cfebff;
  font-size: 250%;
  font-weight: bold;
  background-color: black;
  padding-left: 1%;
  padding-right: 1%;
}

#op,
#cl,
#hi,
#lo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #cfebff;
  font-size: xx-large;
  font-weight: bold;
}

#chrt {
  display: none;
  position: absolute;
  top: 95%;
  left: 39%;
  width: 55%;
  height: 60%;
}
