@media only screen and (min-width: 250px) {
  body {
    background-image: url("../static/images/Back.jpg");
    background-size: 500%;
    background-attachment: fixed;
    font-family: "Montserrat";
    margin: 0 0 0 0;
  }

  #Pro-Head {
    color: #cfebff;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 150%;
  }
  
  #Site-Heading {
    font-family: "Oswald";
    font-size: 350%;
  }
  
  #Quip {
    font-size: 120%;
    position: relative;
  }
  
  #frm {
    color: #a1d8ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
  }
  
  .Choice {
    color: #cfebff;
    font-size: 240%;
    font-weight: bolder;
    text-align: center;
  }
  
  #Stck-frms {
    display: flex;
    font-size: 185%;
    line-height: 150%;
    justify-content: space-between;
  }
  
  #Chs-Stcks {
    flex: 0.3 1 auto;
  }
  
  #grph_frm {
    font-size: 150%;
    line-height: 130%;
  }
  
  #tme_frm {
    font-size: 150%;
    line-height: 130%;
  }
  
  #Comp-frms-str {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150%;
  }
  
  #shw_dta {
    margin-top: 2%;
    color: #cfebff;
    font-size: 250%;
    cursor: pointer;
    transition-duration: 0.2s;
    background-color: black;
    padding: 1% 2%;
    border: none;
    border-radius: 40px;
    width: fit-content;
  }
  
  #shw_dta:hover {
    box-shadow: 0 12px 16px 0 #cfebff48, 0 17px 50px 0 #cfebff48;
  }
  
  #shw_dta:active {
    background-color: #001422;
    box-shadow: 0 6px 10px 0 #cfebff48, 0 10px 40px 0 #cfebff48;
    transform: translateY(4px);
  }
  
  #Shw-Data {
    margin-top: 3%;
    display: none;
    color: #cfebff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150%;
    font-family: "Fredoka";
  }
  
  #results {
    font-size: 200%;
    font-weight: bold;
  }
  
  #chrt {
    flex: 0.7 0 0;
  }
  
  #Details {
    margin-top: 3%;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 150%;
  }
  
  .Det-Head {
    font-size: 150%;
  }
  
  .Det-Dat {
    text-decoration: none;
    color: white;
    font-size: 70%;
  }
}

@media only screen and (min-width: 950px) {
  body {
    background-image: url("../static/images/Back.jpg");
    background-size: 200%;
    background-attachment: fixed;
    font-family: "Montserrat";
    margin: 0 0 0 0;
  }
  
  #Pro-Head {
    color: #cfebff;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  #Site-Heading {
    font-family: "Oswald";
    font-size: 350%;
  }
  
  #Quip {
    font-size: 120%;
    position: relative;
  }
  
  #frm {
    color: #a1d8ff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
  }
  
  .Choice {
    color: #cfebff;
    font-size: 240%;
    font-weight: bolder;
    text-align: center;
  }
  
  #Stck-frms {
    display: flex;
    font-size: 185%;
    line-height: 150%;
    justify-content: space-between;
  }
  
  #Chs-Stcks {
    flex: 0.3 1 auto;
  }
  
  #grph_frm {
    font-size: 150%;
    line-height: 130%;
  }
  
  #tme_frm {
    font-size: 150%;
    line-height: 130%;
  }
  
  #Comp-frms-str {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  #shw_dta {
    margin-top: 2%;
    color: #cfebff;
    font-size: 250%;
    cursor: pointer;
    transition-duration: 0.2s;
    background-color: black;
    padding: 1% 2%;
    border: none;
    border-radius: 40px;
    width: fit-content;
  }
  
  #shw_dta:hover {
    box-shadow: 0 12px 16px 0 #cfebff48, 0 17px 50px 0 #cfebff48;
  }
  
  #shw_dta:active {
    background-color: #001422;
    box-shadow: 0 6px 10px 0 #cfebff48, 0 10px 40px 0 #cfebff48;
    transform: translateY(4px);
  }
  
  #Shw-Data {
    margin-top: 3%;
    display: none;
    color: #cfebff;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: "Fredoka";
  }

  #results {
    font-size: 200%;
    font-weight: bold;
  }

  #chrt {
    flex: 0.7 0 0;
    height:25em;
  }

  #Details {
    margin-top: 3%;
    margin-bottom: 0%;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }

  .Det-Head {
    font-size: 250%;
  }

  .Det-Dat {
    text-decoration: none;
    color: white;
    font-size: 110%;
  }
}
