<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/style.css" />

<head>
    <title>Stock Price Predictor</title>
</head>

<body>
    <div class="bg-img"></div>
    <h1 id="site_heading">Stock Price Predictor</h1>
    <p id="quip">Why was the stock market trader electrocted?<br>He shorted Tesla.</p>
    <p id="stck">Chose Stock</p>
    <p id="grph">Chose Graph</p>
    <p id="tme">Chose Time</p>
    <form action="">
        <div id="stck_frm1">
            <input type="radio" id="st1" name = "stock_selection" value="Stock 1">
            <label for="st1">Stock 1</label><br>
            <input type="radio" id="st2" name = "stock_selection" value="Stock 2">
            <label for="st2">Stock 2</label><br>
            <input type="radio" id="st3" name = "stock_selection" value="Stock 3">
            <label for="st3">Stock 3</label><br>
            <input type="radio" id="st4" name = "stock_selection" value="Stock 4">
            <label for="st4">Stock 4</label><br>
            <input type="radio" id="st5" name = "stock_selection" value="Stock 5">
            <label for="st5">Stock 5</label><br>
            <input type="radio" id="st6" name = "stock_selection" value="Stock 6">
            <label for="st6">Stock 6</label><br>
            <input type="radio" id="st7" name = "stock_selection" value="Stock 7">
            <label for="st7">Stock 7</label><br>
            <input type="radio" id="st8" name = "stock_selection" value="Stock 8">
            <label for="st8">Stock 8</label><br>
            <input type="radio" id="st9" name = "stock_selection" value="Stock 9">
            <label for="st9">Stock 9</label><br>
            <input type="radio" id="st10" name = "stock_selection" value="Stock 10">
            <label for="st10">Stock 10</label><br>
        </div>
        <div id="stck_frm2">
            <input type="radio" id="st11" name = "stock_selection" value="Stock 11">
            <label for="st11">Stock 11</label><br>
            <input type="radio" id="st12" name = "stock_selection" value="Stock 12">
            <label for="st12">Stock 12</label><br>
            <input type="radio" id="st13" name = "stock_selection" value="Stock 13">
            <label for="st13">Stock 13</label><br>
            <input type="radio" id="st14" name = "stock_selection" value="Stock 14">
            <label for="st14">Stock 14</label><br>
            <input type="radio" id="st15" name = "stock_selection" value="Stock 15">
            <label for="st15">Stock 15</label><br>
            <input type="radio" id="st16" name = "stock_selection" value="Stock 16">
            <label for="st16">Stock 16</label><br>
            <input type="radio" id="st17" name = "stock_selection" value="Stock 17">
            <label for="st17">Stock 17</label><br>
            <input type="radio" id="st18" name = "stock_selection" value="Stock 18">
            <label for="st18">Stock 18</label><br>
            <input type="radio" id="st19" name = "stock_selection" value="Stock 19">
            <label for="st19">Stock 19</label><br>
            <input type="radio" id="st20" name = "stock_selection" value="Stock 20">
            <label for="st20">Stock 20</label><br>
        </div>

        <div id="grph_frm">
            <input type="radio" id="open" name = "graph_selection" value="Stock 11">
            <label for="open">Open</label><br>
            <input type="radio" id="close" name = "graph_selection" value="Stock 12">
            <label for="close">Close</label><br>
            <input type="radio" id="high" name = "graph_selection" value="Stock 13">
            <label for="high">High</label><br>
            <input type="radio" id="low" name = "graph_selection" value="Stock 14">
            <label for="low">Low</label><br>
            <input type="radio" id="vol" name = "graph_selection" value="Stock 15">
            <label for="vol">Volume</label><br>
        </div>

        <div id="tme_frm">
            <input type="radio" id="5_day" name = "graph_selection" value="Stock 11">
            <label for="5_day">5 days</label><br>
            <input type="radio" id="1_mnth" name = "graph_selection" value="Stock 12">
            <label for="1_mnth">1 Month</label><br>
            <input type="radio" id="6_mnth" name = "graph_selection" value="Stock 13">
            <label for="6_mnth">6 Month</label><br>
            <input type="radio" id="1_yr" name = "graph_selection" value="Stock 14">
            <label for="1_yr">1 Year</label><br>
            <input type="radio" id="max" name = "graph_selection" value="Stock 15">
            <label for="max">Max Data</label><br>
        </div>
        <input id ="shw_dta" type="button" value="Show Data">
    </form>    

    <div class="cnt_bk">
    </div>
</body>

</html>