<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="../static/style.css" />
<script src="../static/myapp.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fredoka" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<head>
    <title>Stock Price Predictor</title>
</head>


<body>
    <div id="Pro-Head">
        <h1 id="Site-Heading">Stock Price Predictor</h1>
        <p id="Quip">Why was the stock market trader electrocted? He shorted Tesla.
        </p>
    </div>
    <div id="Comp-frms-str">
        <form id="frm">
            <div id="Chs-Stcks">
                <p class="Choice" id="stck">Chose Stock</p>
                <div id="Stck-frms">
                    <div id="stck_frm1">
                        <input type="radio" id="st1" name="stock_selection" value="Tatasteel">
                        <label for="st1">Tatasteel</label><br>
                        <input type="radio" id="st2" name="stock_selection" value="TVS_Motor">
                        <label for="st2">TVS Motor</label><br>
                        <input type="radio" id="st3" name="stock_selection" value="Reliance">
                        <label for="st3">Reliance</label><br>
                        <input type="radio" id="st4" name="stock_selection" value="Bharti_Airtel">
                        <label for="st4">Bharti Airtel</label><br>
                        <input type="radio" id="st5" name="stock_selection" value="ICICI_Bank">
                        <label for="st5">ICICI Bank</label><br>
                        <input type="radio" id="st6" name="stock_selection" value="Axis_Bank">
                        <label for="st6">Axis Bank</label><br>
                        <input type="radio" id="st7" name="stock_selection" value="HDFC_Bank">
                        <label for="st7">HDFC Bank</label><br>
                        <input type="radio" id="st8" name="stock_selection" value="KPIT_Tech">
                        <label for="st8">KPIT Tech</label><br>
                        <input type="radio" id="st9" name="stock_selection" value="PRAJ_Industries">
                        <label for="st9">PRAJ Industries</label><br>
                        <input type="radio" id="st10" name="stock_selection" value="LNT">
                        <label for="st10">LNT</label><br>
                    </div>
                    <div id="stck_frm2">
                        <input type="radio" id="st11" name="stock_selection" value="UPL">
                        <label for="st11">UPL</label><br>
                        <input type="radio" id="st12" name="stock_selection" value="Tatamotors>
                        <label for="st12">Tatamotors</label><br>
                        <input type="radio" id="st13" name="stock_selection" value="Jubilant_Foodworks">
                        <label for="st13">Jubilant Foodworks</label><br>
                        <input type="radio" id="st14" name="stock_selection" value="Balkrishna_Industries">
                        <label for="st14">Balkrishna Industries</label><br>
                        <input type="radio" id="st15" name="stock_selection" value="Canara_Bank">
                        <label for="st15">Canara Bank</label><br>
                        <input type="radio" id="st16" name="stock_selection" value="BEL">
                        <label for="st16">BEL</label><br>
                        <input type="radio" id="st17" name="stock_selection" value="EaseMyTrip">
                        <label for="st17">EaseMyTrip</label><br>
                        <input type="radio" id="st18" name="stock_selection" value="GHCL">
                        <label for="st18">GHCL</label><br>
                        <input type="radio" id="st19" name="stock_selection" value="Wipro">
                        <label for="st19">Wipro</label><br>
                        <input type="radio" id="st20" name="stock_selection" value="Bank_of_Baroda">
                        <label for="st20">Bank Of Baroda</label><br>
                    </div>
                </div>
            </div>
            <div id="grph-time">
                <div id="Chs-Grph">
                    <p class="Choice" id="grph">Chose Graph*</p>
                    <div id="grph_frm">
                        <input type="radio" id="open" name="graph_selection" value="open">
                        <label for="open">Open</label><br>
                        <input type="radio" id="close" name="graph_selection" value="close">
                        <label for="close">Close</label><br>
                        <input type="radio" id="high" name="graph_selection" value="high">
                        <label for="high">High</label><br>
                        <input type="radio" id="low" name="graph_selection" value="low">
                        <label for="low">Low</label><br>
                        <input type="radio" id="vol" name="graph_selection" value="vol">
                        <label for="vol">Volume</label><br>
                    </div>
                </div>
                <div id="Chs-Tme">
                    <p class="Choice" id="tme">Chose Time*</p>
                    <div id="tme_frm">
                        <input type="radio" id="5_day" name="time_selection" value="5_day">
                        <label for="5_day">5 days</label><br>
                        <input type="radio" id="1_mnth" name="time_selection" value="1_month">
                        <label for="1_mnth">1 Month</label><br>
                        <input type="radio" id="6_mnth" name="time_selection" value="6_month">
                        <label for="6_mnth">6 Month</label><br>
                        <input type="radio" id="1_yr" name="time_selection" value="1_year">
                        <label for="1_yr">1 Year</label><br>
                        <input type="radio" id="max" name="time_selection" value="max">
                        <label for="max">Max Data</label><br>
                    </div>
                </div>
            </div>
        </form>
        <input id="shw_dta" type="button" value="Show Data" onclick="reformat()">
    </div>
    <div id="Shw-Data">
        <div id="results">
            <p id="pred">Predicted Values for<br>
                next Market Opening</p>
            <p id="op">Open = </p>
            <p id="cl">Close = </p>
            <p id="hi">High = </p>
            <p id="lo">Low = </p>
        </div>
        <div id="chrt"></div>
    </div>
    <div id="Details">
        <div id="Cnt">
            <p class="Det-Head" id="contact">Contact Me</p>
            <a class="Det-Dat" id="mail" href="mailto:aryanrishi20@gmail.com">aryanrishi20@gmail.com</a>
        </div>
        <div id="Git-pro">
            <p class="Det-Head" id="Lnk-Txt">Link to Project</p>
            <a class="Det-Dat" id="Git_Lnk"
                href="https://github.com/the-horseman/Stock-Price-Predictor">https://github.com/the-horseman/<br>Stock-Price-Predictor</a>
        </div>
        <div id="Notice">
            <p class="Det-Head" id="Not">Notice</p>
            <p class="Det-Dat" id="Not_Txt">Site will be down from 12:00 AM to<br>5:00 AM IST once.</p>
        </div>
    </div>
</body>

</html>